export JAVA_OPTS="-Xmx8g"
export CLASSPATH=$PWD/jna-5.13.0.jar
export SWIFT_CODE_COV_DATA_PATH=.build/debug/codecov/default.profdata
export SWIFT_CODE_COV_REPORT_PATH=.build/artifacts/info.lcov # chosen