[workspace]
resolver = "2"
members = ["profile"]

[workspace.dependencies]
log = "0.4.20"
env_logger = "0.10.1"
derive_more = "0.99.17"
serde = { version = "1.0.193", features = ["derive"] }
serde_json = { version = "1.0.108", features = ["preserve_order"] }
serde_with = { version = "3.4.0" }
thiserror = "1.0.50"
iso8601-timestamp = { version = "0.2.16", features = ["serde", "std"] }
uuid = { version = "1.6.1", features = ["v4", "serde"] }
serde_repr = "0.1.17"
strum = { version = "0.25.0", features = ["derive"] }
radix-engine-common = { git = "https://github.com/radixdlt/radixdlt-scrypto", rev = "038ddee8b0f57aa90e36375c69946c4eb634efeb", features = [
    "serde",
] }
radix-engine-interface = { git = "https://github.com/radixdlt/radixdlt-scrypto", rev = "038ddee8b0f57aa90e36375c69946c4eb634efeb", features = [
    "std",
] }
radix-engine-toolkit-json = { git = "https://github.com/radixdlt/radix-engine-toolkit", rev = "e848b6abb9c5e72c695819e4d61a2d0c25f695f5" }
radix-engine-toolkit = { git = "https://github.com/radixdlt/radix-engine-toolkit", rev = "e848b6abb9c5e72c695819e4d61a2d0c25f695f5" }
enum-iterator = "1.4.1"
hex = "0.4.3"
transaction = { git = "https://github.com/radixdlt/radixdlt-scrypto", rev = "038ddee8b0f57aa90e36375c69946c4eb634efeb", features = [
    "serde",
] }
bip32 = "0.5.1" # only need Secp256k1, to do validation of PublicKey
ed25519-dalek = "1.0.1"
rand = "0.8.5"
itertools = { version = "0.12.0" }
enum-as-inner = "0.6.0"
derive-getters = "0.3.0"
identified_vec = { version = "0.1.11", features = ["serde", "id_prim"] }
nutype = { version = "0.4.0", features = ["serde"] }
schemars = { version = "0.8.12", features = ["preserve_order"] }
uniffi = { git = "https://github.com/mozilla/uniffi-rs", rev = "fb8dd5c0f9406ea558d0d9d86804f4688ae95e44", features = [
    "cli",
] }


[profile.release]
incremental = false
panic = 'unwind'
codegen-units = 1
