[package]
name = "sargon"
version = "1.2.44"
edition = "2021"

resolver = "2" # features enabled in integration test

[[test]]
name = "vectors"

[lib]
crate-type = ["staticlib", "cdylib", "lib"]

[dependencies]
# === SARGON CRATES ===
prelude = { workspace = true }
identified-vec-of = { workspace = true }
build-info = { workspace = true }
hierarchical-deterministic = { workspace = true }
factors = { workspace = true }
core-misc = { workspace = true }
transaction-foundation = { workspace = true }
keys-collector = { workspace = true }
encryption = { workspace = true }
addresses = { workspace = true }
transaction-models = { workspace = true }
manifests = { workspace = true }
profile = { workspace = true }
profile-gateway = { workspace = true }
profile-logic = { workspace = true }
profile-security-structures = { workspace = true }
factor-instances-provider = { workspace = true }
gateway-models = { workspace = true }
clients = { workspace = true }
drivers = { workspace = true }
home-cards = { workspace = true }
discover = { workspace = true }
radix-name-service = { workspace = true }
security-center = { workspace = true }
radix-connect = { workspace = true }
radix-connect-models = { workspace = true }
signatures-collector = { workspace = true }
network = { workspace = true }
next-derivation-index-ephemeral = { workspace = true }
sub-systems = { workspace = true }
interactors = { workspace = true }
key-derivation-traits = { workspace = true }
signing-traits = { workspace = true }
sargon-os = { workspace = true }
sargon-os-arculus-card = { workspace = true }
sargon-os-transaction = { workspace = true }
sargon-os-accounts = { workspace = true }
sargon-os-derive-public-keys = { workspace = true }
sargon-os-factors = { workspace = true }
sargon-os-security-center = { workspace = true }
sargon-os-signing = { workspace = true }
gateway-client-and-api = { workspace = true }

# === RADIX DEPENDENCIES ===
radix-common = { workspace = true }
radix-engine-interface = { workspace = true }
radix-engine-toolkit-common = { workspace = true }
radix-transactions = { workspace = true }

# === EXTERNAL DEPENDENCIES ===
async-std = { workspace = true }
async-trait = { workspace = true }
base64 = { workspace = true }
derive_more = { workspace = true }
enum-iterator = { workspace = true }
futures = { workspace = true }
hex = { workspace = true }
log = { workspace = true }
paste = { workspace = true }
pretty_assertions = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }

# Fixes nasty iOS bug "_kSecMatchSubjectWholeString", see https://github.com/kornelski/rust-security-framework/issues/203
# This is a workaround to fix a bug with version 2.11.0 that added some symbols that are not available on iOS
# The bug is fixed already but the fix is not released yet. https://github.com/kornelski/rust-security-framework/pull/204
[target.'cfg(target_os = "ios")'.dependencies]
security-framework = { version = "=2.10" }
security-framework-sys = "=2.10.0"

[dev-dependencies]
actix-rt = { workspace = true }
