[package]
name = "drivers"
version = "1.2.10"
edition = "2021"


[dependencies]
# === SARGON CRATES ===
prelude = { workspace = true }
hierarchical-deterministic = { workspace = true }
addresses = { workspace = true }
profile = { workspace = true }
profile-supporting-types = { workspace = true }
time-utils = { workspace = true }

# === RADIX DEPENDENCIES ===
# None

# === EXTERNAL DEPENDENCIES ===
async-trait = { workspace = true }
derive_more = { workspace = true }
enum-iterator = { workspace = true }
indexmap = { workspace = true }
itertools = { workspace = true }
log = { workspace = true }
pretty_env_logger = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
strum = { workspace = true }

[dev-dependencies]
actix-rt = { workspace = true }
