[package]
name = "sargon-os-factors"
version = "1.2.32"
edition = "2021"

[dependencies]
# === SARGON CRATES ===
prelude = { workspace = true }
sargon-os = { workspace = true }
error = { workspace = true }
addresses = { workspace = true }
profile = { workspace = true }
interactors = { workspace = true }
drivers = { workspace = true }
clients = { workspace = true }
profile-logic = { workspace = true }
factor-instances-provider = { workspace = true }
key-derivation-traits = { workspace = true }
radix-connect = { workspace = true }
transaction-models = { workspace = true }
manifests = { workspace = true }
keys-collector = { workspace = true }

# ==== RADIX DEPENDENCIES ====
# None

# ==== EXTERNAL DEPENDENCIES ====
actix-rt = { workspace = true }
async-trait = { workspace = true }
derive_more = { workspace = true }
enum-as-inner = { workspace = true }
futures = { workspace = true }
log = { workspace = true }
paste = { workspace = true }
preinterpret = { workspace = true }
pretty_assertions = { workspace = true }
rand = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }

[dev-dependencies]
radix-common = { workspace = true }
