<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pre-Alpha.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>01764070E4DF2D7E574244E251492ED7AB0C3107</string>
				<key>dateExpires</key>
				<string>17.12.2024</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>6.13.2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>01764070E4DF2D7E574244E251492ED7AB0C3107</string>
						<key>dateExpires</key>
						<string>17.12.2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppsFlyerLib.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MDH99V28LM</string>
						<key>name</key>
						<string>Radix Publishing Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>01764070E4DF2D7E574244E251492ED7AB0C3107</string>
						<key>dateExpires</key>
						<string>17.12.2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WebRTC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MDH99V28LM</string>
						<key>name</key>
						<string>Radix Publishing Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>MDH99V28LM.com.radixpublishing.radixwallet.ios.pre-alpha</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.radixpublishing.radixwallet.ios.pre-alpha</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>MDH99V28LM</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Pre-Alpha.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6b44d111-d5d8-480b-8dee-09a7b0b01525</string>
				<key>dateExpires</key>
				<string>17.12.2024</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.radixpublishing.radixwallet.ios.pre-alpha</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>MDH99V28LM</string>
				<key>name</key>
				<string>Radix Publishing Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>1.6.0</string>
		</dict>
	</array>
</dict>
</plist>
