[package]
name = "sargon-uniffi"
version = "1.2.1"
edition = "2021"
build = "build.rs"

[lib]
crate-type = ["staticlib", "cdylib", "lib"]

[[bin]]
name = "sargon-bindgen"
path = "src/bindgen/bin.rs"

[dependencies]
# === SARGON CRATES ===
prelude = { workspace = true }
identified-vec-of = { workspace = true }
hierarchical-deterministic = { workspace = true }
encryption = { workspace = true }
factors = { workspace = true }
keys-collector = { workspace = true }
addresses = { workspace = true }
transaction-models = { workspace = true }
manifests = { workspace = true }
profile = { workspace = true }
profile-logic = { workspace = true }
profile-security-structures = { workspace = true }
factor-instances-provider = { workspace = true }
gateway-models = { workspace = true }
core-misc = { workspace = true }
clients = { workspace = true }
drivers = { workspace = true }
signatures-collector = { workspace = true }
profile-persona = { workspace = true }
profile-account = { workspace = true }
gateway-client-and-api = { workspace = true }

sargon = { workspace = true }
sargon-uniffi-conversion-macros = { workspace = true }

# === RADIX DEPENDENCIES ===
radix-engine-toolkit = { workspace = true }

# === EXTERNAL DEPENDENCIES ===
assert-json-diff = { workspace = true }
async-trait = { workspace = true }
base64 = { workspace = true }
camino = { workspace = true }
clap = { workspace = true }
delegate = { workspace = true }
derive_more = { workspace = true }
enum-as-inner = { workspace = true }
enum-iterator = { workspace = true }
hex = { workspace = true }
indexmap = { workspace = true }
iso8601-timestamp = { workspace = true }
itertools = { workspace = true }
log = { workspace = true }
paste = { workspace = true }
preinterpret = { workspace = true }
pretty_assertions = { workspace = true }
pretty_env_logger = { workspace = true }
rand = { workspace = true }
regex = { workspace = true }
strum = { workspace = true }
thiserror = { workspace = true }
uniffi = { workspace = true }
url = { workspace = true }
uuid = { workspace = true }
zeroize = { workspace = true }

[dev-dependencies]
actix-rt = { workspace = true }
uniffi = { workspace = true, features = ["bindgen-tests"] }

[build-dependencies]
uniffi = { workspace = true, features = ["build"] }

[lints.rust]
unexpected_cfgs = { level = "forbid", check-cfg = ['cfg(tarpaulin_include)'] }
